html {
	background-color: #161618;
}

#terminal {
	background-color: #161618;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

#terminal::-webkit-scrollbar {
	display: none;
}

#terminal-content {
	position: absolute;
	margin: 40px 40px 40px 40px;
}

#terminal-text {
	display: inline;
}

#terminal p, #terminal a {
	font-family: 'Roboto Mono', monospace;
	word-wrap: break-word;
	display: inline;
	font-size: 15px;
}

#terminal-text ::selection {
	background-color: white;
	color: #ff00d0;
}

#cursor::selection {
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

/* Styling for desktop: */
@media only screen and (min-width: 768px) {
	#terminal {
		position: absolute;
		width: 80%;
		height: 80%;
		left: 10%;
		top: 10%;
		border-radius: 25px;
	}

	#terminal p, #terminal a {
		font-size: 18px;
	}

	html {
		background-color: black;
	}	
}
